{% extends 'shared/base.html' %}
{% block content %}

<div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center gap-3">
  <h1 class="mb-3">Login</h1>

  <form class="w-25" action="/login/" method="post">
    {% csrf_token %}

    <div class="d-flex flex-column gap-3">
      {% if form %}
        {{ form }}
      {% endif %}

      <!-- Submit button -->
      <input type="submit" value="Sign in" class="btn btn-primary btn-block mt-3 mb-5">
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
    </div>
  </form>
</div>
{% endblock %}